#box {

  background-color: rgb(183, 247, 225);

  height: 400px;
  width: 500px;
  position: absolute;
  z-index: -1;
}


#ball {

  height: 10px;
  width: 10px;
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: brown;

  border-radius: 50%;

}

#plate {

height: 10px;
width: 100px;
position: absolute;
top: calc(100% - 10px);
left: 50%;

background-color: darkslateblue;
}

#brick {

background-color: lightgreen;

height: 30px;
width: 60px;
border: 1px solid;
position: absolute;



}