@font-face {

  font-family: JosefinSlab;
  src: url('./JosefinSlab-SemiBold.ttf');

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  margin: auto;
  width: 800px;
  height: 600px;
  margin-top: auto;


    font-family: JosefinSlab;
    font-size: 20px;
    user-select: none;
}


#box {
  background-color: rgb(36, 128, 96);
  height: 480px;
  width: 640px;
  position: relative;
  cursor: none;
}


#boxCover {

  float: left;
}

#ball {

  position: absolute;


  background-color: rgb(138, 66, 18);

  border-radius: 50%;
  /* animation: blink 1s infinite; */

}

@keyframes blink {

  0% {background-color: red;}
  33% {background-color: rgb(163, 18, 18);}
  77% {background-color: rgb(223, 148, 148);}
  100% {background-color: rgb(134, 6, 6);}

}

#bullet{
  position: absolute;
  background-color: rgb(224, 50, 240);
  border-radius: 50%;
}

#plate {

height: 10px;
pointer-events: none;

position: absolute;
top: calc(100% - 10px);
left: 50%;


background-color: darkslateblue;

transition: width 0.7s ease-in-out;

-webkit-border-radius: 15px;
border-radius: 15px;
}



#brick {


  pointer-events: none;
border-radius: 15%;
background: gray;

height: 20px;
width: 40px;

position: absolute;

}








#item {

  height: 20px;
  width: 20px;
  position: absolute;


  background-color: rgb(213, 226, 215);
border-color: lightsalmon;
  border-radius: 50%;
}

button.button {
  font-family: JosefinSlab ;
  font-size: 22px;
  border-radius: 50%;
  background-color: rgb(105, 212, 111)
  ;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition:2s
}

button.disButton {
  font-family: JosefinSlab ;
  font-size: 22px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(148, 143, 143);
  transition:2s
}


#levels{

  background-color: lightblue;
  height: 600px;
  width: 800px;
  position: absolute;
  overflow: hidden;
}

#level{

  background-color: lightblue;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

}

button.next {

  position: absolute;
  top: 90%;
  left: 375px;
  z-index: 4;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: no-repeat;
  background-color: #51b3b5;
  background-image: url('./components/buttonDown.png');
  background-position: 50% 70%;
  background-size: 60%;
  cursor:pointer;
  transition: 0.2s;
}

button.next:hover {
  background-color: rgb(20 136 156);

  transform: scale(1.2,1.2);
}


button.back {
  z-index: 4;
  position: absolute;
  top: 2%;
  left: 375px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: no-repeat;
  background-color: #51b3b5;
  background-image: url('./components/buttonUp.png');
  background-position: 47% 40%;
  background-size: 60%;
  cursor: pointer;
  transition: 0.2s;
}


button.back:hover {
  background-color: rgb(20 136 156);

  transform: scale(1.2,1.2);
}


.tenLevels{

  height: 600px;
  width: 800px;

  /* background-image: url(./grass.png); */

}


.background-enter {
  transform: translateY(100%);
}
.background-enter.background-enter-active {
  transform: translateY(0%);
  transition: transform 3000ms ease-in-out;
}
.background-leave {
  transform: translateY(0%);
}
.background-leave.background-leave-active {
  transform: translateY(-100%);
  transition: transform 3000ms ease-in-out;
}


.backgroundBack-enter {
  transform: translateY(-100%);
}
.backgroundBack-enter.backgroundBack-enter-active {
  transform: translateY(0%);
  transition: transform 3000ms ease-in-out;
}
.backgroundBack-leave {
  transform: translateY(0%);
}
.backgroundBack-leave.backgroundBack-leave-active {
  transform: translateY(100%);
  transition: transform 3000ms ease-in-out;
}


#BarMenu{

  margin: 80px 0px 20px 20px;
  float: right;
  position: relative;
  width: 150px;
  height: 500px;
 // visibility: hidden;
}

#BarMenuIn{
  position: absolute;
  margin: 5px;

  width: 150px;
  height: 500px;

}

#nameAndAvatar {
  text-align: center;
  position: absolute;
  background-color: rgb(20, 136, 156);
  top: 5%;
  width: 100%;
  height: 220px;
  color: rgb(19, 18, 13);
  -webkit-border-radius: 15px;
  border-radius: 60px 0px 0px 30px;


}

#avatar {
  /* background-image: url('./components/guy.png'); */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  background-position: 50%;

}



#baseInfo {
  position: absolute;
  background-color: rgb(89, 187, 190);
  top: 60%;
  width: 100%;
  height: 43%;

}



#skills:hover {

  position: absolute;

  width: 250px;
  height: 10%;
  left: -90px;
  background-color: rgb(14, 37, 116);
  top: 60%;
  display: flex;
    align-items: center;

    -webkit-border-radius: 25px;
    border-radius: 25px 0px 0px 25px;
}



#skillsIn {

  position: absolute;
  width: 100%;
  height: 35%;
  background-color: olivedrab;
  top: 60%
}







#drop {

  position: absolute;
}

#gamebar {
  float: left;

}

#inside {
  width: 100%;
}

.checkBox{
  width:  15px;
  height: 15px;

  background-color: wheat;
  float: right;
  border-radius: 50%;
}

@keyframes blinkCheckBox {

  0% {background-color: rgb(0, 253, 42);}
  33% {background-color: rgb(15, 202, 46)}
  77% {background-color: rgb(18, 228, 53);}
  100% {background-color: rgb(23, 216, 55);}
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg);
}

}

form {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  box-shadow: 0 32px 64px rgba(0,0,0,0.2);
  width: 300px;
}

  h2 {
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0 4px 16px #fff;
    font-size: 30px;
    font-weight: 100;

  }


 #dropDown {
background-color: coral;
  height: 120px;
  width: 150px;
  position: absolute;
  z-index: 1;
  cursor: pointer
 }



#dropDownMenu{
  cursor:'pointer';
  float: left;
  width: 50px;
  height: 50px;
}

#rightDropDown > div:hover {

  background-color: darkmagenta;
}

#dropDownMenu:hover{
background-color: darkgreen;
}

#leftDropDown{
  width: 50%;
  float: left;
}

#rightDropDown{
  width: 50%;
  float: left;
}


#wizardButton {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  position: relative;
  background-image: url('./crystal.png');
  background-position: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer
}

#golemButton {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  position: relative;
  background-image: url('./golem.png');
  background-position: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

#gunnersButton {

  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  position: relative;
  background-image: url('./gunner.png');
  background-position: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}



#grid {

  top: 100px;

  display: flex;
  justify-content: space-evenly;

}


#win {
  text-align: center;
  top: 200px;
  left: 225px;
position: absolute;
  z-index: 3;
  width: 200px;
  height: 150px;
  background-color: peru;
  border-radius: 5%;
  justify-content: center;
}

#lose {
  text-align: center;
  top: 200px;
  left: 250px;
position: absolute;
  z-index: 2;
  width: 200px;
  height: 150px;
  background-color: plum;
  border-radius: 5%;
  justify-content: center;
}

#empty {
  display: 'none';

}

#boom {
  width: 100px;
  height: 100px;
  background-image: url('./components/explosion.png');
  z-index: 1;
  position: absolute;
  animation: changeSizeBoom 2s;
  animation-fill-mode: forwards;
  background-position: 50% 50%;
  background-size: contain;
  transform-origin: center;

}

@keyframes changeSizeBoom {

  from {
    transform: translate(-50%, -50%) scale(0,0);
}
to {
    transform: translate(-50%, -50%) scale(1,1) rotate(60deg);
}

}

// #ballS{
//   background-color: #ffffff;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   pointer-events: none;
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translate(-50%, -50%);
//   z-index: 2;
//   mix-blend-mode: difference;

// }

#next {
  width: 150px;
  height: 50px;

  background-color: orchid;

  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-align: center;

position: relative;
line-height: 50px;
margin: 0 auto;
margin-top: 50px
}

#next:hover{

  background-color: rgb(255, 79, 79);
  cursor: pointer;
}

#nextWrap {

  width: auto;
  height: 150px;
  justify-content: center;
  text-align: center;
}

#character {

  width: 100%;
  height: 150px;
position: relative;

padding-top: 40px;
}


#characterText {
  visibility: hidden;
  background-color: rgb(231, 183, 80);
  text-align: center;
  margin: 0 auto;

  height: 100px;
  justify-content: center;
  display: flex;

font-family: JosefinSlab;

position: relative;
line-height:20px;
width: 400px;
text-align: justify;
font-size: 20px;
padding: 10px;

overflow: hidden;

}




.menu-toggler {
  position: absolute;
  display: block;
  top:0;
  bottom:0;
  right:0;
  left:4px;

  width:45px;
  height:45px;
  z-index:2;

  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
       background-color: rgb(191, 255, 96);
  border-radius: 50%;

  transition: 1s;
}




.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {

    left: -60px;
    top: -200px;
    transition-property: left, top;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
    // transform: translateX(-60px) translateY(-200px);

}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {

  left: -60px;
    top: -150px;
    transition-property: left, top;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-150px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  left: -60px;
    top: -100px;
    transition-property: left, top;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-100px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  left: -60px;
    top: -50px;
    transition-property: left, top;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-50px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  left: -60px;
    top: 0px;
    transition-property: left, top;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(0px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events:auto;
}



.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 3px 3px 3px 9px;

  transition-property: top, left;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0.3s;


  //transition: left 1s linear, top 1s linear


}



.menu-item a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 80px;
  color: rgba(121, 46, 46);
  background: rgb(84, 151, 46);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  pointer-events: none;
 // transition: 1s;
  cursor: pointer;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#skillsInBox {

  width: 45px;
  height: 45px;
  position: relative;
  float: right;
  margin: 3px 3px 3px 5px;

}



#currentLvl {

  background: linear-gradient(92deg, rgb(169, 252, 74) 11%, rgb(255 106 176) 82%)
}



// #skills {

//   position: absolute;
//   left: 150px;
//   width: 250px;
//   height: 10%;
//   background-color: rgb(14, 37, 116);
//   top: 60%;
//   display: flex;
//     align-items: center;

//     // -webkit-border-radius: 25px;
//     // border-radius: 25px 0px 0px 25px;
//     // transition: left 0.7s ease-in-out;



// }


// .skillWrap {
//   width: 36px;
//   height: 36px;
//   float: left;
//   background-color: goldenrod;
//   border-radius: 50%;

//   text-align: center;
//   cursor: pointer;
//   margin-left: 10px;
// }
.menu-togglerS {
  position: absolute;
  display: block;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin: 0;
  width:45px;
  height:45px;
  z-index:2;

  cursor:pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
       background-color: rgb(180, 39, 126);
  border-radius: 50%;
  background-image: url('./components/model.png');
background-position: 20% 30%;
  background-size: 200%;
}

.menu-togglerS:checked ~ ul .menu-itemS {
  opacity: 1;
}
.menu-togglerS:checked ~ ul .menu-itemS:nth-child(1) {

    top: 60px;
    left: 0px;
    transition-property: top, left;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
    // transform: translateX(-60px) translateY(-200px);

}
.menu-togglerS:checked ~ ul .menu-itemS:nth-child(2) {

  left: -50px;
    top: 60px;
    transition-property: top, left;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-150px);
}
.menu-togglerS:checked ~ ul .menu-itemS:nth-child(3) {
  left: -100px;
    top: 60px;
    transition-property: top, left;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-100px);
}
.menu-togglerS:checked ~ ul .menu-itemS:nth-child(4) {
  left: -150px;
    top: 60px;
    transition-property: top, left;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(-50px);
}
.menu-togglerS:checked ~ ul .menu-itemS:nth-child(5) {
  left: -200px;
    top: 60px;
    transition-property: top, left;
    transition-duration: 0.5s, 0.5s;
    transition-delay: 0s, 0.5s;
  //transform: translateX(-60px) translateY(0px);
}

.menu-togglerS:checked ~ ul .menu-itemS a {
  pointer-events:auto;
}





.menu-itemS {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;



  transition-property: left, top;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0.3s;



}



.menu-itemS a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 50px;
  color: rgba(121, 46, 46);
  background: rgb(122, 122, 180);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  pointer-events: none;
  text-align: center;
  cursor: pointer;


}


#circle {

  //background-color: white;
  background: linear-gradient(0deg, rgb(39, 248, 50) 50%, rgba(128,217,134,1) 82%);
  width: 15px;
  height: 15px;
  position: relative;
  border-radius:50%;
  margin-top: 5px;
}


#circlePanel {

  width: 30px;
  height: 100px;
  position: absolute;
  left: 122px;
  top: 10px;
}


#description {

  width: 200px;
  height: 150px;
  position: absolute;
  background-color: indianred;
  left: -195px;
  top: 0px;
  transition: 0.7s ease-in-out;

}

#bounce {

  width: 50px;
  height: 49px;
  background-color: indianred;
  left: -10px;
  padding-left: 10px;
  padding-top: 5px;
  top: -5px;
position: absolute;
-webkit-border-radius: 35px;
    border-radius: 0px 35px 35px 0px;


}


#descSet {

  cursor: pointer;
  position: absolute;
  float: left;
  top: 110px;
  left: 10px;
  width: 40px;
  height: 30px;
  background-color: goldenrod;
  text-align: center;
  line-height: 30px;
}

#descPrice {

  cursor: pointer;
  position: absolute;

  width: 80px;
  height: 30px;
  background-color: goldenrod;
  left: 110px;
  top: 110px;
  text-align: center;
  line-height: 30px;
}

#buyI {

  cursor: pointer;
  position: absolute;

  width: 80px;
  height: 30px;
  background-color: goldenrod;
  left: 110px;
  top: 80px;
  text-align: center;
  line-height: 30px;
}




#featuresDescription {
 // left: -150px;
  top: 115px;
  height: 120px;
  width: 200px;
  background-color: rgb(20 136 156);
position: absolute;

-webkit-border-radius: 25px;
border-radius: 25px 0px 0px 25px;

transition: 1s;
transform: translateX(-150px);
}

#titleFeature {

  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

#circleInM {

  width: 15px;
  height: 15px;
  top:17px;
  left: 17px;
  border-radius: 50%;
  background-color: rgb(221, 176, 211);
  position: absolute;
  //transition: 1s;

}

#main {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(231, 111, 31);
  border-radius: 50%;
 float: left;
 top: 20px;
 left:20px;

}


#mainIn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(0deg, rgb(0 253 63) 0%,  rgb(122 122 180) 20%) ;
  border-radius: 50%;
 float: left;
 top: -53px;
 left:-125px;
 line-height: 50px;

}

#mainWrap {

  position: absolute;
  left: -150px;
  top: -78px;
  width: 90px;
  height: 90px;
  background-color: rgb(21, 143, 112);
  border-radius: 50%;
  transform: rotate(40deg);
  transition: 1s;
}

$tx: translateY(35px);


// #circleInM:nth-child(1) {
//   transform: $tx;
// }

// #circleInM:nth-child(2) {
//   transform: rotate(40deg) $tx;
// }

// #circleInM:nth-child(3) {
//   transform: rotate(80deg) $tx;
// }

// #circleInM:nth-child(4) {
//   transform: rotate(120deg) $tx;
// }

// #circleInM:nth-child(5) {
//   transform: rotate(160deg) $tx;
// }

// #circleInM:nth-child(6) {
//   transform: rotate(200deg) $tx;;
// }

// #circleInM:nth-child(7) {
//   transform: rotate(240deg) $tx;
// }

// #circleInM:nth-child(8) {
//   transform: rotate(280deg) $tx;
// }

// #circleInM:nth-child(9) {
//   transform: rotate(320deg) $tx;
// }

#s1 {

  top: 80px;
  left: 40px;
  position: absolute;

}

#s2 {

  top: 60px;
  left: 120px;
  position: absolute;

}

#s3 {

  top: 60px;
  left: 200px;
  position: absolute;

}

#s4 {

  top: 90px;
  left: 275px;
  position: absolute;

}

#s5 {

  top: 155px;
  left: 330px;
  position: absolute;

}

#s6 {

  top: 230px;
  left: 360px;
  position: absolute;

}

#s7 {

  top: 310px;
  left: 380px;
  position: absolute;

}

#s8 {

  top: 385px;
  left: 410px;
  position: absolute;

}

#s9 {

  top: 445px;
  left: 465px;
  position: absolute;

}

#s10 {

  top: 520px;
  left: 500px;
  position: absolute;

}

#s11 {

  top: 20px;
  left: 490px;
  position: absolute;

}

#s12 {

  top: 80px;
  left: 430px;
  position: absolute;

}

#s13 {

  top: 130px;
  left: 340px;
  position: absolute;

}

#s14 {

  top: 190px;
  left: 260px;
  position: absolute;

}

#s15 {

  top: 270px;
  left: 225px;
  position: absolute;

}

#s16 {

  top: 340px;
  left: 270px;
  position: absolute;

}

#s17 {

  top: 390px;
  left: 340px;
  position: absolute;

}

#s18 {

  top: 430px;
  left: 410px;
  position: absolute;

}

#s19 {

  top: 470px;
  left: 480px;
  position: absolute;

}

#s20 {

  top: 520px;
  left: 550px;
  position: absolute;

}

#s21 {

  top: 20px;
  left: 510px;
  position: absolute;

}

#s22 {

  top: 80px;
  left: 440px;
  position: absolute;

}

#s23 {

  top: 130px;
  left: 360px;
  position: absolute;

}

#s24 {

  top: 180px;
  left: 280px;
  position: absolute;

}

#s25 {

  top: 270px;
  left: 190px;
  position: absolute;

}

#s26 {

  top: 370px;
  left: 200px;
  position: absolute;

}

#s27 {

  top: 410px;
  left: 280px;
  position: absolute;

}

#s28 {

  top: 430px;
  left: 370px;
  position: absolute;

}

#s29 {

  top: 460px;
  left: 470px;
  position: absolute;

}

#s30 {

  top: 490px;
  left: 560px;
  position: absolute;

}

#s31 {

  top: 20px;
  left: 600px;
  position: absolute;

}

#s32 {

  top: 80px;
  left: 530px;
  position: absolute;

}

#s33 {

  top: 170px;
  left: 550px;
  position: absolute;

}

#s34 {

  top: 280px;
  left: 550px;
  position: absolute;

}

#s35 {

  top: 310px;
  left: 450px;
  position: absolute;

}

#s36 {

  top: 300px;
  left: 350px;
  position: absolute;

}

#s37 {

  top: 290px;
  left: 250px;
  position: absolute;

}

#s38 {

  top: 310px;
  left: 150px;
  position: absolute;

}

#s39 {

  top: 360px;
  left: 50px;
  position: absolute;

}

#s40 {

  top: 460px;
  left: 20px;
  position: absolute;

}

#s41 {

  top: 20px;
  left: 130px;
  position: absolute;

}

#s42 {

  top: 80px;
  left: 200px;
  position: absolute;

}

#s43 {

  top: 170px;
  left: 140px;
  position: absolute;

}

#s44 {

  top: 260px;
  left: 170px;
  position: absolute;

}

#s45 {

  top: 270px;
  left: 300px;
  position: absolute;

}

#s46 {

  top: 300px;
  left: 430px;
  position: absolute;

}

#s47 {

  top: 390px;
  left: 480px;
  position: absolute;

}

#s48 {

  top: 470px;
  left: 440px;
  position: absolute;

}

#s49 {

  top: 520px;
  left: 350px;
  position: absolute;

}

#s50 {

  top: 520px;
  left: 250px;
  position: absolute;

}


#mainMenu {


  position: absolute;
  top: 245px;
  left: 300px;
  width: 200px;
  height: 150px;
  background-color: khaki;

}

#menuButton:hover {

  background-color: rgb(23, 53, 63);

}


#menuButton {

  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #0f520c;
  transition: 0.2s;
  line-height: 55px;
  text-align: center;
}

#menuButton:hover {
  background-color: #0c4c52
}

#finalPage{
  height: 500px;
  width: 320px;
  animation:  ch linear 20s ;
  animation-fill-mode: forwards;

  //background-color: rosybrown;
  //transition:  transform 20s;
}

@keyframes ch {

  from {
    transform: translate(75%, 120%) ;
}
to {
    transform: translate(75%, 30%) ;
}}

#noEnoughGoldMessage{
  -webkit-animation-duration: 3s;animation-duration: 3s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-40px);}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-40px);}
}


#enginePicture{

  border-radius: 5px 100% 0px 100%;
  transform: rotate(45deg);
  animation: 0.2s fadeOutE infinite;
}

#enginePictureIn{
  border-radius: 5px 100% 0px 100%;
  transform: rotate(45deg);
  animation: 0.1s fadeOutEI infinite;
}

#enginePictureUp{
  border-radius: 10px 10px 0px 0px;
}

@-webkit-keyframes fadeOutE {
  0% {opacity: 1;}
  100% {opacity: 0.5;transform: translateY(10px);}
}

@keyframes fadeOutEI {
  0% {opacity: 1;}
  100% {opacity: 0.5;transform: translateY(5px) scale(2,2) rotate(45deg);;}
}

@keyframes fadeOutE {
  0% {opacity: 1;}
  100% {opacity: 0.5;transform: translateY(5px) scale(2,2) rotate(45deg);}
}